.background {
    min-height: 100dv;
    background-image: url(https://external-preview.redd.it/Gx4p8dtcZjJ_WT3pmfTze-iWEvz11wS17LBhB3-VFbg.jpg?auto=webp&s=1bb3ecd75d22c4af38a18e062219303887f3a9d3);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

button {
    margin: 5px;
}

.fade-text {
    position: static;
    transform: translate(192px, 36px);
}

.opaque-text {
    opacity: 0;
}

.invis-text-loss {
    animation: invis .5s forwards;
    color: red
}

.invis-text-gain {
    animation: invis .5s forwards;
    color: green
}

@keyframes invis {

    0% {
        opacity: .2;
        transform: translate(0px, 0px);
    }

    25% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translate(0px, -50px);
    }
}